#navBT{
	padding-right: 10px;
	border-left: 2px solid #d9cd47;
}
#webBT{
	border-right: 2px solid #d9cd47;
	border-left: 2px solid #d9cd47;
}
.tieuDe{
    color: #ffcc00;
    margin-top: 10px;   
    border-bottom: 1px solid #999966;
}